# virtual environments
venv/
.venv/

# installed/vendor packages (you have this folder)
package/

# python cache (everywhere)
__pycache__/
*.pyc

# mlflow
mlruns/
mlflow.db

# trained models
models/

# env file
.env