version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: src/Dockerfile.api
    container_name: student-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    restart: always

  ui:
    build:
      context: .
      dockerfile: src/Dockerfile.app_streamlit
    container_name: student-ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    restart: always