# ---------- Core ML ----------
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.8.0
joblib==1.4.2
matplotlib==3.9.2

# ---------- MLflow ----------
mlflow==2.14.3
boto3==1.34.162
psycopg2-binary==2.9.9

# ---------- API ----------
fastapi==0.115.6
uvicorn[standard]==0.32.1

# ---------- UI ----------
streamlit==1.41.1
requests==2.32.3